.auth-page{
display:flex;
height:100vh;
font-family:'Poppins',sans-serif;
}

/* LEFT SIDE */

.auth-left{
flex:1;
background:linear-gradient(135deg,#056e9b,#056382,#056792);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
padding:60px;
}

.auth-left h1{
font-size:42px;
margin-bottom:10px;
}

.tagline{
font-size:18px;
margin-bottom:30px;
opacity:0.9;
}

/* FEATURES */

.features{
display:flex;
flex-direction:column;
gap:20px;
}

.feature{
background:rgba(255,255,255,0.1);
padding:15px;
border-radius:10px;
backdrop-filter:blur(10px);
font-size:16px;
}

/* RIGHT SIDE */

.auth-right{
flex:1;
display:flex;
justify-content:center;
align-items:center;
background:#f4f7fb;
}

/* FORM */

.auth-form{
background:white;
padding:40px;
width:380px;
border-radius:15px;
box-shadow:0 15px 35px rgba(0,0,0,0.1);
display:flex;
flex-direction:column;
gap:15px;
}

.auth-form h2{
text-align:center;
margin-bottom:10px;
}

.auth-form input,
.auth-form select{
padding:12px;
border-radius:8px;
border:1px solid #ddd;
font-size:14px;
}

.auth-form input:focus,
.auth-form select:focus{
outline:none;
border-color:#4facfe;
box-shadow:0 0 5px rgba(79,172,254,0.5);
}

.auth-form button{
padding:12px;
background:linear-gradient(135deg,#4facfe,#00f2fe);
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.auth-form button:hover{
transform:scale(1.05);
}

/* LINK */

.auth-form p{
text-align:center;
font-size:14px;
}

.auth-form a{
color:#4facfe;
text-decoration:none;
font-weight:bold;
}